@model Practica6.MVC.Models.ShippersView
@{
    ViewBag.Title = "Shippers Page";
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/genericStyles.css" />
</head>

<h1>Creacion y modificacion de Shippers</h1>
<h4>Nota: ten en cuenta que algunos shippers no podras borrar por que estan siendo utilizados</h4>
<h7>Los elementos con "*" son obligatorios</h7>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        @using (Html.BeginForm("Modify", "Shippers", FormMethod.Post, new { @class = "table-custom" }))
        {
            <label class="form-label">Selecciona el que quieras modificar o "Nuevo"" para crear</label>
            @Html.DropDownList("SelectedShipperID", ViewBag.ShipOptions as SelectList, new { @id = "shipperList", @class = "form-select" })<br/>
            <label class="form-label">Identificador*</label>
            @Html.TextBoxFor(s => s.ID, new { id = "idShipper", @readonly = "readonly", @class = "form-control"})
            <span id="idShipperError" class="text-danger"></span><br />
            <label class="form-label">Company name*</label>
            @Html.TextBoxFor(s => s.CompanyName, new { id = "companyName", @class = "form-control" })
            <span id="companyNameError" class="text-danger"></span><br />
            <label class="form-label">Phone</label> 
            @Html.TextBoxFor(s => s.Phone, new { id = "phone", @class = "form-control" })<br />
            <input type="button" name="action" id="btnAdd" class="btn btn-success" value="Agregar" />
            <input type="button" name="action" id="btnDel" class="btn btn-danger" value="Borrar" />
        }
    </div>
</div>
<script type="module" src="~/Scripts/shipperUtils.js"></script>
