@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Practica 6 MVC</h1><br />
        <h3>A que vista desea ir</h3><hr />
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Territories</h2>
            <p>Territorios de nuestra app donde podemos ver, agregar, actualizar y borrar elementos Territories de nuestra app</p>
            <button class="btn btn-primary">@Html.ActionLink("Territories", "Index", "Territories", new { area = "" }, new { @class = "nav-link" })</button>
            
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Shippers</h2>
            <p>Shippers de nuestra app donde podemos ver, agregar, actualizar y borrar elementos Shippers de nuestra app</p>
            <button class="btn btn-primary">@Html.ActionLink("Shippers", "Index", "Shippers", new { area = "" }, new { @class = "nav-link" })</button>
        </section>
    </div>
</main>