<h1>Error</h1>

@if (ViewBag.Errores != null)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewBag.Errores)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}
<button class="btn btn-primary" id="btnBack">Volver</button>
<script src="~/Scripts/errorUtils.js"></script>
