<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="NorthwindConnection" connectionString="data source=.\SQLEXPRESS01;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<appSettings>
		<add key="invalidFormatText" value="Se deben ingresar numeros, no letras o simbolos"/>
		<add key="exceptionGenericText" value="Ocurrio un error inesperado"/>
		<add key="invalidOperationCustText" value="No se ha encontrado ningun customer que cumpla con los parametros indicados"/>
		<add key="invalidOperationProdText" value="No se ha encontrado ningun producto que cumpla con los parametros indicados"/>
		<add key="productIDPuntoCinco" value="789"/>
		<add key="customerRegion" value="WA"/>
		<add key="yearOrder" value="1997"/>
		<add key="monthOrder" value="1"/>
		<add key="dayOrder" value="1"/>
		<add key="cantSelect" value="3"/>
		<add key="selectOrderBy" value="true"/>
	</appSettings>
</configuration>