<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="maxCantTaxi" value="5"/>
		<add key="maxCantOmnibus" value="5"/>
		<add key="maxTaxiPassanger" value="4"/>
		<add key="maxOmnibusPassanger" value="100"/>
		<add key="minCountPassanger" value="0"/>
		<add key="tipeTransLoad" value="Omnibus"/>
		<add key="maxTransList" value ="10"/>
		<add key="taxi" value="Taxi"/>
		<add key="omnibus" value="Omnibus"/>
	</appSettings>
</configuration>